.center {
  text-align: center;
}

.wrapper {
  display: flex;
  width: 600px;
  margin: 10px auto;
  & > .table-container {
    flex: 4 4;
  }
  & > .spinner-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 2 2;
    & > span.freeze {
      svg {
        animation: none;
      }
    }
  }
}

.table-unit {
  display: flex;
  margin: 0;
  padding: 0;
  & > li {
    list-style: none;
    flex: 2 2;
  }
  & > li:first-child {
    flex: 4 4;
  }
  & > li:last-child {
    flex: 1 1;
  }
}
